@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Press+Start+2P&family=VT323&display=swap");
@import "tailwindcss";

:root {
  color: white;
  font-family: "Press Start 2P", sans-serif;
}

body {
  background-color: black;
}
